.jbt
{
	height: 350px;
	margin-top: 7%;
	margin-left: 15%;
	background-color:#222;
	color: #eee; 
}
.thumbnail
{
	height: 260px;
	width: 170px;
	
}

.info
{
	border-left: 3px solid #eee;
	height: 260px;
	margin-left: 8%;
	padding-left: 6%;
}

.name
{
	font-size: 50px;
}

.stud_no
{
	font-size: 40px;
}
.branch
{
	font-size: 30px;
	padding-bottom: 8%;
}

hr
{
	margin-top: 0px;
}

.register_button
{
	margin-left: 78.26%;
	margin-top: -2.6%;
	border:#f0ad4e;
	background-color: transparent;
	text-decoration: underline;
}
.register_button:hover
{
	text-decoration: none;
}